
.home .conteudo{
    padding-top: 12vh;
    width: 100vw;
    height: 100vh;
}

.home .conteudo .apresentacao{ 
    height: 100vh;
}

.home .conteudo .apresentacao .texto{ 
    padding-top: 15vh;
    padding-left: 15vw;
}

.home .conteudo .produtos{ 
    height: 100vh;
}
.home .conteudo .produtos .texto{ 
    padding-top: 15vh;
    padding-left: 40vw;
}

.home .conteudo .conclusao{   
    height: 50vh;
}
.home .conteudo .conclusao .texto{ 
    padding-top: 15vh;
    padding-left: 70vw;
}
.home .conteudo .fundo{
    width: 100vw;
    height: 100vw;
}

