.home .conteudo{
    min-height: calc(100vh - var(--bodyPaddingTop));
    width: 100vw;
}
.home .conteudo .textoApresentacao{
    box-sizing: border-box;
    position: relative;
    background-color:#96a6b7;
    background-size: cover;
}
.home .conteudo .apresentacao{ 
    box-sizing: border-box;
    position: relative;
    background-color:#96a6b7;
    background-size: cover;
}
.items{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.item-1 .contato{
    display: flex;
    align-items: center;
    justify-items: space-between;
    grid-area: contato;
}
.item-1 .localizacao{
    display: flex;
    grid-area: localizacao;
}
.item-1 .localizacao text{  
    padding: 0.4rem;  
    align-items: center;
    justify-items: space-between;
}
.item-1 .email{
    align-items: center;
    justify-items: space-between;
    grid-area: email;
}
.item-1 .horario{
    justify-items: space-between;
    grid-area: horario;
}
.item-1{
    border-radius: 1rem;
    margin: 0.5rem;
    margin-right: 0;
    padding: 1rem;
    background-color: #FFE021;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
        "contato contato contato" 
        "localizacao localizacao localizacao"
        "email horario horario"
    ;
}
.item-2{
    color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-left: 0;
    padding: 1rem;
    background-color: #10150F;
}

.item-2{
    color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-left: 0;
    padding: 1rem;
    background-color: #10150F;
}

@media (max-width: 800px) {
	.items{
        flex-direction: column;
    }
    .item-1{        
        margin-right: 0.5rem;
    }
    .item-2{
        margin-left: 0.5rem;
    }
}