.home .conteudo{
    min-height: calc(100vh - var(--bodyPaddingTop));
    width: 100vw;
}
.home .conteudo .textoApresentacao{
    box-sizing: border-box;
    position: relative;
    background-color:#96a6b7;
    background-size: cover;
}
.home .conteudo .apresentacao{ 
    box-sizing: border-box;
    position: relative;
    background-color:#96a6b7;
    background-size: cover;
}
.items{
    margin-top: 2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.item-1{    
    width: 40%;
}
.item-1 .Contact{
    display: flex;
    align-items: center;
    justify-items: space-between;
    grid-area: Contact;
}
.items .ContactValue{
    font-size: larger;
    font-weight: bold;
    grid-area: ContactValue;
    text-align: center;
    padding: 0.2rem 0;
}
.item-1 .Localization{
    display: flex;
    grid-area: Localization;
}
.item-1 .LocalizationValue{
    grid-area: LocalizationValue;
    text-justify: center;
}
.item-1 .Localization text{  
    padding: 0.4rem;  
    align-items: center;
    justify-items: space-between;
}
.item-1 .Email{
    align-items: center;
    justify-items: space-between;
    grid-area: Email;
}
.item-1 .EmailValue{
    grid-area: EmailValue;
}
.item-1 .Time{
    justify-items: space-between;
    grid-area: Time;
}
.item-1 .TimeValues{grid-area: TimeValues;}

.item-1{
    border-radius: 1rem;
    margin: 0.5rem;
    margin-right: 0;
    padding: 1rem;
    background-color: #FFE021;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
        'Contact ContactValue ContactValue ContactValue' 
        'Localization . . .'
        'LocalizationValue LocalizationValue LocalizationValue LocalizationValue'
        'Email . Time Time'
        'EmailValue EmailValue TimeValues TimeValues'
    ;
}
.item-2{
    color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-left: 0;
    padding: 1rem;
    background-color: #10150F;
}

.item-2{
    width: 60%;
    color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;
    margin-left: 0;
    padding: 1rem;
    background-color: #10150F;
}

@media (max-width: 800px) {
	.items{
        flex-direction: column;
    }.items .Numero{
        font-size: medium;
    }
    .item-1{        
        margin-right: 0.5rem;
    }
    .item-2{
        margin-left: 0.5rem;
    }
}