.footer{
    width: 100vw;
    bottom: 0;
    height: 50vh;
    color: #96a6b7;
    background-color: #010611;
}

.footer_navigation{
    height: 100%;
    align-items: center;
    padding: 0;
}

.footer_navigation-items ul{
    width: 111px;
    list-style: none;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: auto;
    margin: auto;
    display: flex;
}
.footer_logo img{
    width: 100%;
    max-width: 503px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer_navigation-items{
    display: flex;
    height: auto;
}
.footer_navigation h4{  
    text-align: center;
}
@media screen and (max-width: 400px) 
{    
    .footer{
        width: 100vw;
        bottom: 0;
        height: 50vh;
        color: #96a6b7;
        background-color: #010611;
    }
    .footer_logo img{
        width: 100%;
    }
    .footer_navigation-items li{
        width: 10vw;
    }

}

.footer_navigation-items li{
    border-radius: 0.5rem;
    margin-right: 2vw;
    text-align: center;
    height: 100%;
}

.footer_navigation-items li:hover{
    filter: brightness(80%);
}

.footer_navigation-items a{
    color: #ffc20a;
    text-decoration: none;
}

.footer_navigation-items a:hover{
    color: #ffc20a;
    text-decoration: none;

}