*{  
    box-sizing: border-box;
}


:root {
    --primary: #231f20;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --Orange: #ffc20a;
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
}

@font-face {
    font-family: 'Sui';
    src: URL('./sui\ generis\ rg.ttf') format('truetype');
}

html,
body {
  margin: 0;
}
input, button, textarea{
    font: 400 18px Roboto, sans-serife;    
}

a {
    color: inherit;
} 

#root{
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
    width: 100vw;
}